body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #64747a;
  background-image: url("parchment_scroll_background.jpg");
}

.initial-msg-container {
  position: fixed;
}
#first-msg, #start, #win-msg {
  font-size: 5vw;
  text-align: center;
  transition: 1s all;
}
#win-msg {
  display: none;
}
#start {
  cursor: pointer;
}
#start:hover {
  color: green;
}
#game {
  width: 50vw;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;
  transition: 0.7s all
}
#game.hidden {
  display: none !important;
}
.square {
  background-image: url("https://images.unsplash.com/photo-1515342724109-4653eccad95f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  transition: 0.7s all;
  opacity: 0.8
}

.square:hover {
  opacity: 1
}

.square.correct {
  filter: hue-rotate(90deg) !important;
}
.square.incorrect.type0 {
  filter: hue-rotate(-60deg);
}
.square.incorrect.type1 {
  filter: hue-rotate(-90deg);
}
.square.incorrect.type2 {
  filter: hue-rotate(-180deg);
}
pre {
  font-family: monospace
}

canvas {
  display: flex;
  margin: 0 auto;
}
